.elementor-679 .elementor-element.elementor-element-7476a29:not(.elementor-motion-effects-element-type-background),
.elementor-679 .elementor-element.elementor-element-7476a29>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../../../images/Contact/01/Contact-Banner.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.elementor-679 .elementor-element.elementor-element-7476a29>.elementor-background-overlay {
    background-color: var(--e-global-color-primary);
    opacity: 0.85;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-679 .elementor-element.elementor-element-7476a29 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 231px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-495fad5>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 50px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-9995b74 {
    text-align: left;
}

.elementor-bc-flex-widget .elementor-679 .elementor-element.elementor-element-a29e3bb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-679 .elementor-element.elementor-element-a29e3bb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-679 .elementor-element.elementor-element-a29e3bb>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-21307dd .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-679 .elementor-element.elementor-element-b3a4e24 {
    color: var(--e-global-color-dcb8901);
}

.elementor-679 .elementor-element.elementor-element-0633ef4 {
    color: var(--e-global-color-dcb8901);
}

.elementor-679 .elementor-element.elementor-element-03a51ed .elementor-button {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
}

.elementor-679 .elementor-element.elementor-element-6059dc5 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 0px 50px 0px;
    background-image: url(../../../../../images/Contact/02/Sec_02_Bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.elementor-679 .elementor-element.elementor-element-c9044be>.elementor-element-populated {
    margin: 0px 20px 0px 0px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-1937ad2 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-679 .elementor-element.elementor-element-1937ad2.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-accent);
    color: var(--e-global-color-primary);
}

.elementor-679 .elementor-element.elementor-element-1937ad2.elementor-view-framed .elementor-icon,
.elementor-679 .elementor-element.elementor-element-1937ad2.elementor-view-default .elementor-icon {
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
}

.elementor-679 .elementor-element.elementor-element-1937ad2.elementor-view-framed .elementor-icon,
.elementor-679 .elementor-element.elementor-element-1937ad2.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-679 .elementor-element.elementor-element-1937ad2.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-679 .elementor-element.elementor-element-1937ad2.elementor-view-stacked .elementor-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-679 .elementor-element.elementor-element-1937ad2 .elementor-icon {
    font-size: 40px;
}

.elementor-679 .elementor-element.elementor-element-1937ad2 .elementor-icon svg {
    height: 40px;
}

.elementor-679 .elementor-element.elementor-element-1937ad2>.elementor-widget-container {
    padding: 0px 0px 0px 30px;
}

.elementor-679 .elementor-element.elementor-element-1937ad2 {
    z-index: 1;
}

.elementor-679 .elementor-element.elementor-element-63613da {
    margin-top: -60px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-7c9286c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-679 .elementor-element.elementor-element-7c9286c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-573674a);
}

.elementor-679 .elementor-element.elementor-element-7c9286c>.elementor-element-populated,
.elementor-679 .elementor-element.elementor-element-7c9286c>.elementor-element-populated>.elementor-background-overlay,
.elementor-679 .elementor-element.elementor-element-7c9286c>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-679 .elementor-element.elementor-element-7c9286c>.elementor-element-populated {
    box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.25);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 60px 30px 30px 30px;
}

.elementor-679 .elementor-element.elementor-element-7c9286c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-679 .elementor-element.elementor-element-c900a9a {
    text-align: left;
}

.elementor-679 .elementor-element.elementor-element-c900a9a .elementor-heading-title {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-679 .elementor-element.elementor-element-c900a9a>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-c1b3bce>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-679 .elementor-element.elementor-element-f48379f .elementor-button {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-8427b81);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-0d707c7>.elementor-element-populated {
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-45a1868 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-679 .elementor-element.elementor-element-45a1868.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-accent);
    color: var(--e-global-color-primary);
}

.elementor-679 .elementor-element.elementor-element-45a1868.elementor-view-framed .elementor-icon,
.elementor-679 .elementor-element.elementor-element-45a1868.elementor-view-default .elementor-icon {
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
}

.elementor-679 .elementor-element.elementor-element-45a1868.elementor-view-framed .elementor-icon,
.elementor-679 .elementor-element.elementor-element-45a1868.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-679 .elementor-element.elementor-element-45a1868.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-679 .elementor-element.elementor-element-45a1868.elementor-view-stacked .elementor-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-679 .elementor-element.elementor-element-45a1868 .elementor-icon {
    font-size: 40px;
}

.elementor-679 .elementor-element.elementor-element-45a1868 .elementor-icon svg {
    height: 40px;
}

.elementor-679 .elementor-element.elementor-element-45a1868>.elementor-widget-container {
    padding: 0px 0px 0px 30px;
}

.elementor-679 .elementor-element.elementor-element-45a1868 {
    z-index: 1;
}

.elementor-679 .elementor-element.elementor-element-cc3f311 {
    margin-top: -60px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-e10992c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-679 .elementor-element.elementor-element-e10992c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-679 .elementor-element.elementor-element-e10992c>.elementor-element-populated,
.elementor-679 .elementor-element.elementor-element-e10992c>.elementor-element-populated>.elementor-background-overlay,
.elementor-679 .elementor-element.elementor-element-e10992c>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-679 .elementor-element.elementor-element-e10992c>.elementor-element-populated {
    box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.25);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 60px 30px 30px 30px;
}

.elementor-679 .elementor-element.elementor-element-e10992c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-679 .elementor-element.elementor-element-d81c17e {
    text-align: left;
}

.elementor-679 .elementor-element.elementor-element-d81c17e .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-679 .elementor-element.elementor-element-d81c17e>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-14ae9e5 {
    color: var(--e-global-color-dcb8901);
}

.elementor-679 .elementor-element.elementor-element-14ae9e5>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-679 .elementor-element.elementor-element-dc7f622 .elementor-button {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-8427b81);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-5d07f72>.elementor-element-populated {
    margin: 0px 0px 0px 20px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 20px;
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-e0bb946 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-679 .elementor-element.elementor-element-e0bb946.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-accent);
    color: var(--e-global-color-primary);
}

.elementor-679 .elementor-element.elementor-element-e0bb946.elementor-view-framed .elementor-icon,
.elementor-679 .elementor-element.elementor-element-e0bb946.elementor-view-default .elementor-icon {
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
}

.elementor-679 .elementor-element.elementor-element-e0bb946.elementor-view-framed .elementor-icon,
.elementor-679 .elementor-element.elementor-element-e0bb946.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-679 .elementor-element.elementor-element-e0bb946.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-679 .elementor-element.elementor-element-e0bb946.elementor-view-stacked .elementor-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-679 .elementor-element.elementor-element-e0bb946 .elementor-icon {
    font-size: 40px;
}

.elementor-679 .elementor-element.elementor-element-e0bb946 .elementor-icon svg {
    height: 40px;
}

.elementor-679 .elementor-element.elementor-element-e0bb946>.elementor-widget-container {
    padding: 0px 0px 0px 30px;
}

.elementor-679 .elementor-element.elementor-element-e0bb946 {
    z-index: 1;
}

.elementor-679 .elementor-element.elementor-element-535c3ed {
    margin-top: -60px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-dc6bd7d:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-679 .elementor-element.elementor-element-dc6bd7d>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-573674a);
}

.elementor-679 .elementor-element.elementor-element-dc6bd7d>.elementor-element-populated,
.elementor-679 .elementor-element.elementor-element-dc6bd7d>.elementor-element-populated>.elementor-background-overlay,
.elementor-679 .elementor-element.elementor-element-dc6bd7d>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-679 .elementor-element.elementor-element-dc6bd7d>.elementor-element-populated {
    box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.25);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 60px 30px 30px 30px;
}

.elementor-679 .elementor-element.elementor-element-dc6bd7d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-679 .elementor-element.elementor-element-8cf5d80 {
    text-align: left;
}

.elementor-679 .elementor-element.elementor-element-8cf5d80 .elementor-heading-title {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-679 .elementor-element.elementor-element-8cf5d80>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-5b0e961>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-679 .elementor-element.elementor-element-b1b90ec .elementor-button {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-8427b81);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-af4b21b {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 0px 100px 0px;
}

.elementor-679 .elementor-element.elementor-element-f6845a8>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-679 .elementor-element.elementor-element-62da0c4>.elementor-widget-container {
    border-radius: 20px 20px 20px 20px;
}

@media(min-width:768px) {
    .elementor-679 .elementor-element.elementor-element-495fad5 {
        width: 100%;
    }
    .elementor-679 .elementor-element.elementor-element-a29e3bb {
        width: 34.517%;
    }
}

@media(max-width:1024px) {
    .elementor-679 .elementor-element.elementor-element-7476a29 {
        padding: 110px 30px 0px 30px;
    }
    .elementor-679 .elementor-element.elementor-element-21307dd .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-679 .elementor-element.elementor-element-6059dc5 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 30px 0px 30px;
    }
    .elementor-679 .elementor-element.elementor-element-c9044be>.elementor-element-populated {
        margin: 0px 10px 0px 0px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0px;
    }
    .elementor-679 .elementor-element.elementor-element-1937ad2 .elementor-icon {
        font-size: 35px;
    }
    .elementor-679 .elementor-element.elementor-element-1937ad2 .elementor-icon svg {
        height: 35px;
    }
    .elementor-679 .elementor-element.elementor-element-63613da {
        margin-top: -60px;
        margin-bottom: 0px;
    }
    .elementor-679 .elementor-element.elementor-element-7c9286c>.elementor-element-populated {
        padding: 60px 10px 20px 10px;
    }
    .elementor-679 .elementor-element.elementor-element-c900a9a .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-679 .elementor-element.elementor-element-c1b3bce>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-679 .elementor-element.elementor-element-0d707c7>.elementor-element-populated {
        margin: 0px 5px 0px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
    }
    .elementor-679 .elementor-element.elementor-element-45a1868 .elementor-icon {
        font-size: 35px;
    }
    .elementor-679 .elementor-element.elementor-element-45a1868 .elementor-icon svg {
        height: 35px;
    }
    .elementor-679 .elementor-element.elementor-element-e10992c>.elementor-element-populated {
        padding: 60px 10px 20px 10px;
    }
    .elementor-679 .elementor-element.elementor-element-d81c17e .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-679 .elementor-element.elementor-element-14ae9e5>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-679 .elementor-element.elementor-element-5d07f72>.elementor-element-populated {
        margin: 0px 0px 0px 10px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 10px;
    }
    .elementor-679 .elementor-element.elementor-element-e0bb946 .elementor-icon {
        font-size: 35px;
    }
    .elementor-679 .elementor-element.elementor-element-e0bb946 .elementor-icon svg {
        height: 35px;
    }
    .elementor-679 .elementor-element.elementor-element-dc6bd7d>.elementor-element-populated {
        padding: 60px 10px 20px 10px;
    }
    .elementor-679 .elementor-element.elementor-element-8cf5d80 .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-679 .elementor-element.elementor-element-5b0e961>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-679 .elementor-element.elementor-element-af4b21b {
        padding: 50px 30px 100px 30px;
    }
}

@media(max-width:767px) {
    .elementor-679 .elementor-element.elementor-element-7476a29 {
        padding: 140px 20px 0px 20px;
        background-position: right;
    }
    .elementor-679 .elementor-element.elementor-element-21307dd .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-679 .elementor-element.elementor-element-6059dc5 {
        padding: 60px 20px 0px 20px;
    }
    .elementor-679 .elementor-element.elementor-element-c9044be>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-679 .elementor-element.elementor-element-1937ad2 .elementor-icon-wrapper {
        text-align: center;
    }
    .elementor-679 .elementor-element.elementor-element-1937ad2>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-679 .elementor-element.elementor-element-c900a9a {
        text-align: center;
    }
    .elementor-679 .elementor-element.elementor-element-c900a9a .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-679 .elementor-element.elementor-element-c1b3bce {
        text-align: center;
    }
    .elementor-679 .elementor-element.elementor-element-c1b3bce>.elementor-widget-container {
        padding: 0px 10px 0px 10px;
    }
    .elementor-679 .elementor-element.elementor-element-0d707c7>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-679 .elementor-element.elementor-element-45a1868 .elementor-icon-wrapper {
        text-align: center;
    }
    .elementor-679 .elementor-element.elementor-element-45a1868>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-679 .elementor-element.elementor-element-d81c17e {
        text-align: center;
    }
    .elementor-679 .elementor-element.elementor-element-d81c17e .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-679 .elementor-element.elementor-element-14ae9e5 {
        text-align: center;
    }
    .elementor-679 .elementor-element.elementor-element-14ae9e5>.elementor-widget-container {
        padding: 0px 10px 0px 10px;
    }
    .elementor-679 .elementor-element.elementor-element-5d07f72>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-679 .elementor-element.elementor-element-e0bb946 .elementor-icon-wrapper {
        text-align: center;
    }
    .elementor-679 .elementor-element.elementor-element-e0bb946>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-679 .elementor-element.elementor-element-8cf5d80 {
        text-align: center;
    }
    .elementor-679 .elementor-element.elementor-element-8cf5d80 .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-679 .elementor-element.elementor-element-5b0e961 {
        text-align: center;
    }
    .elementor-679 .elementor-element.elementor-element-5b0e961>.elementor-widget-container {
        padding: 0px 10px 0px 10px;
    }
    .elementor-679 .elementor-element.elementor-element-af4b21b {
        padding: 50px 20px 100px 20px;
    }
    dotlottie-player {
        width: 320px !important;
        height: 320px !important;
    }
    .elementor-679 .elementor-element.elementor-element-495fad5>.elementor-element-populated {
        padding: 0%;
    }
}

.elementor-element .elementor-element-495fad5-1 .elementor-element-9995b74 {
    text-align: end;
}