.elementor-508 .elementor-element.elementor-element-be8e924:not(.elementor-motion-effects-element-type-background),
.elementor-508 .elementor-element.elementor-element-be8e924>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/02/aerial-view-oil-terminal-industrial-facility-stora-2023-01-24-13-09-28-utc.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-508 .elementor-element.elementor-element-be8e924>.elementor-background-overlay {
    background-color: var(--e-global-color-primary);
    opacity: 0.85;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-508 .elementor-element.elementor-element-be8e924 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 170px 0px 100px 0px;
}

.elementor-508 .elementor-element.elementor-element-50c71e8>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-308637b {
    text-align: center;
}

.elementor-508 .elementor-element.elementor-element-18c536f {
    text-align: center;
    color: var(--e-global-color-dcb8901);
}

.elementor-508 .elementor-element.elementor-element-18c536f>.elementor-widget-container {
    padding: 0px 300px 0px 300px;
}

.elementor-508 .elementor-element.elementor-element-342b6ee {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 0px 50px 0px;
}

.elementor-508 .elementor-element.elementor-element-3c2e981>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-6169861 {
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-508 .elementor-element.elementor-element-ca59996.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-508 .elementor-element.elementor-element-ca59996.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-508 .elementor-element.elementor-element-ca59996>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-7aead01>.elementor-widget-container {
    padding: 0px 100px 0px 0px;
}

.elementor-bc-flex-widget .elementor-508 .elementor-element.elementor-element-aa9ec41.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-508 .elementor-element.elementor-element-aa9ec41.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-508 .elementor-element.elementor-element-aa9ec41>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-ec570d6>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-508 .elementor-element.elementor-element-ae592a3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-9f9819b>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: var(--e-global-color-accent);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 30px 0px 0px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 0px;
    padding: 30px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-9f9819b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-508 .elementor-element.elementor-element-080a442 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-508 .elementor-element.elementor-element-080a442 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-508 .elementor-element.elementor-element-080a442 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-508 .elementor-element.elementor-element-080a442 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-508 .elementor-element.elementor-element-5e26b30 .elementor-heading-title {
    font-family: var(--e-global-typography-2413f4d-font-family), Sans-serif;
    font-size: var(--e-global-typography-2413f4d-font-size);
    font-weight: var(--e-global-typography-2413f4d-font-weight);
    line-height: var(--e-global-typography-2413f4d-line-height);
    letter-spacing: var(--e-global-typography-2413f4d-letter-spacing);
    word-spacing: var(--e-global-typography-2413f4d-word-spacing);
}

.elementor-508 .elementor-element.elementor-element-f0e9fcc>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-508 .elementor-element.elementor-element-c342222 .elementor-button {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-8427b81);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-64ccc05>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: var(--e-global-color-accent);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 0px 10px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 10px;
    padding: 30px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-64ccc05>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-508 .elementor-element.elementor-element-79f31e6 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-508 .elementor-element.elementor-element-79f31e6 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-508 .elementor-element.elementor-element-79f31e6 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-508 .elementor-element.elementor-element-79f31e6 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-508 .elementor-element.elementor-element-0effa62 .elementor-heading-title {
    font-family: var(--e-global-typography-2413f4d-font-family), Sans-serif;
    font-size: var(--e-global-typography-2413f4d-font-size);
    font-weight: var(--e-global-typography-2413f4d-font-weight);
    line-height: var(--e-global-typography-2413f4d-line-height);
    letter-spacing: var(--e-global-typography-2413f4d-letter-spacing);
    word-spacing: var(--e-global-typography-2413f4d-word-spacing);
}

.elementor-508 .elementor-element.elementor-element-30158c8>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-508 .elementor-element.elementor-element-e54789b .elementor-button {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-8427b81);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-df80522>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: var(--e-global-color-accent);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 20px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 20px;
    padding: 30px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-df80522>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-508 .elementor-element.elementor-element-3aca4f9 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-508 .elementor-element.elementor-element-3aca4f9 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-508 .elementor-element.elementor-element-3aca4f9 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-508 .elementor-element.elementor-element-3aca4f9 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-508 .elementor-element.elementor-element-4e59ad5 .elementor-heading-title {
    font-family: var(--e-global-typography-2413f4d-font-family), Sans-serif;
    font-size: var(--e-global-typography-2413f4d-font-size);
    font-weight: var(--e-global-typography-2413f4d-font-weight);
    line-height: var(--e-global-typography-2413f4d-line-height);
    letter-spacing: var(--e-global-typography-2413f4d-letter-spacing);
    word-spacing: var(--e-global-typography-2413f4d-word-spacing);
}

.elementor-508 .elementor-element.elementor-element-d378c74>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-508 .elementor-element.elementor-element-ccac8ea .elementor-button {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-8427b81);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-5cf9fc0>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: var(--e-global-color-accent);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 30px;
    padding: 30px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-5cf9fc0>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-508 .elementor-element.elementor-element-3118125 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-508 .elementor-element.elementor-element-3118125 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-508 .elementor-element.elementor-element-3118125 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-508 .elementor-element.elementor-element-3118125 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-508 .elementor-element.elementor-element-bb4f0ba .elementor-heading-title {
    font-family: var(--e-global-typography-2413f4d-font-family), Sans-serif;
    font-size: var(--e-global-typography-2413f4d-font-size);
    font-weight: var(--e-global-typography-2413f4d-font-weight);
    line-height: var(--e-global-typography-2413f4d-line-height);
    letter-spacing: var(--e-global-typography-2413f4d-letter-spacing);
    word-spacing: var(--e-global-typography-2413f4d-word-spacing);
}

.elementor-508 .elementor-element.elementor-element-4578c79>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-508 .elementor-element.elementor-element-1a5e6dc .elementor-button {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-8427b81);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-6f0c858 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 0px 100px 0px;
}

.elementor-508 .elementor-element.elementor-element-2d62645:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-508 .elementor-element.elementor-element-2d62645>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-508 .elementor-element.elementor-element-2d62645>.elementor-element-populated,
.elementor-508 .elementor-element.elementor-element-2d62645>.elementor-element-populated>.elementor-background-overlay,
.elementor-508 .elementor-element.elementor-element-2d62645>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-508 .elementor-element.elementor-element-2d62645>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 0px 0px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 0px;
    padding: 30px 30px 30px 30px;
}

.elementor-508 .elementor-element.elementor-element-2d62645>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-508 .elementor-element.elementor-element-df9a810>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-09190d4 img {
    border-radius: 20px 20px 20px 20px;
}

.elementor-508 .elementor-element.elementor-element-cb2a943 {
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-508 .elementor-element.elementor-element-86fb188.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-508 .elementor-element.elementor-element-86fb188.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-508 .elementor-element.elementor-element-86fb188>.elementor-element-populated {
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-7bfc046 img {
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
    border-radius: 20px 20px 20px 20px;
}

.elementor-508 .elementor-element.elementor-element-f29eb21:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-508 .elementor-element.elementor-element-f29eb21>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-526a8fb);
}

.elementor-508 .elementor-element.elementor-element-f29eb21>.elementor-element-populated,
.elementor-508 .elementor-element.elementor-element-f29eb21>.elementor-element-populated>.elementor-background-overlay,
.elementor-508 .elementor-element.elementor-element-f29eb21>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-508 .elementor-element.elementor-element-f29eb21>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
    padding: 20px 20px 20px 20px;
}

.elementor-508 .elementor-element.elementor-element-f29eb21>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-508 .elementor-element.elementor-element-392d656 {
    text-align: left;
}

.elementor-508 .elementor-element.elementor-element-392d656 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-508 .elementor-element.elementor-element-392d656>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-32ba73f .elementor-icon-list-icon i {
    color: var(--e-global-color-accent);
    transition: color 0.3s;
}

.elementor-508 .elementor-element.elementor-element-32ba73f .elementor-icon-list-icon svg {
    fill: var(--e-global-color-accent);
    transition: fill 0.3s;
}

.elementor-508 .elementor-element.elementor-element-32ba73f {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-508 .elementor-element.elementor-element-32ba73f .elementor-icon-list-text {
    color: var(--e-global-color-secondary);
    transition: color 0.3s;
}

.elementor-bc-flex-widget .elementor-508 .elementor-element.elementor-element-45b6fde.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-508 .elementor-element.elementor-element-45b6fde.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-508 .elementor-element.elementor-element-45b6fde>.elementor-element-populated {
    margin: 0px 0px 0px 20px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 20px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-710db96>.elementor-widget-container {
    padding: 0px 80px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-e5c9df2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-508 .elementor-element.elementor-element-45f7ef1>.elementor-element-populated,
.elementor-508 .elementor-element.elementor-element-45f7ef1>.elementor-element-populated>.elementor-background-overlay,
.elementor-508 .elementor-element.elementor-element-45f7ef1>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-508 .elementor-element.elementor-element-45f7ef1>.elementor-element-populated {
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.16);
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
    padding: 20px 20px 20px 20px;
}

.elementor-508 .elementor-element.elementor-element-885c6c5.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-accent);
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
}

.elementor-508 .elementor-element.elementor-element-885c6c5.elementor-view-framed .elementor-icon,
.elementor-508 .elementor-element.elementor-element-885c6c5.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-accent);
    color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
}

.elementor-508 .elementor-element.elementor-element-885c6c5.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-508 .elementor-element.elementor-element-885c6c5 {
    --icon-box-icon-margin: 15px;
}

.elementor-508 .elementor-element.elementor-element-885c6c5 .elementor-icon {
    font-size: 25px;
}

.elementor-508 .elementor-element.elementor-element-2181a89>.elementor-element-populated,
.elementor-508 .elementor-element.elementor-element-2181a89>.elementor-element-populated>.elementor-background-overlay,
.elementor-508 .elementor-element.elementor-element-2181a89>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-508 .elementor-element.elementor-element-2181a89>.elementor-element-populated {
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.16);
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
    padding: 20px 20px 20px 20px;
}

.elementor-508 .elementor-element.elementor-element-af69625.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: var(--e-global-color-accent);
    color: var(--e-global-color-accent);
}

.elementor-508 .elementor-element.elementor-element-af69625.elementor-view-framed .elementor-icon,
.elementor-508 .elementor-element.elementor-element-af69625.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-508 .elementor-element.elementor-element-af69625.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-accent);
}

.elementor-508 .elementor-element.elementor-element-af69625 {
    --icon-box-icon-margin: 15px;
}

.elementor-508 .elementor-element.elementor-element-af69625 .elementor-icon {
    font-size: 25px;
}

.elementor-508 .elementor-element.elementor-element-599e820:not(.elementor-motion-effects-element-type-background),
.elementor-508 .elementor-element.elementor-element-599e820>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/02/big-industrial-oil-tanks-in-a-refinery-base-indus-2022-10-27-18-16-50-utc.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-508 .elementor-element.elementor-element-599e820>.elementor-background-overlay {
    background-color: var(--e-global-color-primary);
    opacity: 0.79;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-508 .elementor-element.elementor-element-599e820 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 0px 100px 0px;
}

.elementor-508 .elementor-element.elementor-element-235a96b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-f4262d1 .elementor-heading-title {
    color: var(--e-global-color-secondary);
}

.elementor-508 .elementor-element.elementor-element-f4262d1>.elementor-widget-container {
    padding: 0px 80px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-b1ba72c {
    color: var(--e-global-color-dcb8901);
}

.elementor-508 .elementor-element.elementor-element-b1ba72c>.elementor-widget-container {
    padding: 0px 70px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-a40199c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(12px/2);
}

.elementor-508 .elementor-element.elementor-element-a40199c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(12px/2);
}

.elementor-508 .elementor-element.elementor-element-a40199c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(12px/2);
    margin-left: calc(12px/2);
}

.elementor-508 .elementor-element.elementor-element-a40199c .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-12px/2);
    margin-left: calc(-12px/2);
}

body.rtl .elementor-508 .elementor-element.elementor-element-a40199c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-12px/2);
}

body:not(.rtl) .elementor-508 .elementor-element.elementor-element-a40199c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-12px/2);
}

.elementor-508 .elementor-element.elementor-element-a40199c .elementor-icon-list-icon i {
    color: var(--e-global-color-accent);
    transition: color 0.3s;
}

.elementor-508 .elementor-element.elementor-element-a40199c .elementor-icon-list-icon svg {
    fill: var(--e-global-color-accent);
    transition: fill 0.3s;
}

.elementor-508 .elementor-element.elementor-element-a40199c {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px;
}

.elementor-508 .elementor-element.elementor-element-a40199c .elementor-icon-list-icon {
    padding-right: 10px;
}

.elementor-508 .elementor-element.elementor-element-a40199c .elementor-icon-list-text {
    color: var(--e-global-color-dcb8901);
    transition: color 0.3s;
}

.elementor-bc-flex-widget .elementor-508 .elementor-element.elementor-element-74c9ef1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-508 .elementor-element.elementor-element-74c9ef1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-508 .elementor-element.elementor-element-74c9ef1>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-94ea022 .skillbar-group .number-percentage-wraper {
    display: no;
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-0838ba4-font-family), Sans-serif;
    font-size: var(--e-global-typography-0838ba4-font-size);
    font-weight: var(--e-global-typography-0838ba4-font-weight);
    line-height: var(--e-global-typography-0838ba4-line-height);
    letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
    word-spacing: var(--e-global-typography-0838ba4-word-spacing);
}

.elementor-508 .elementor-element.elementor-element-94ea022 .skillbar-group .skill-track {
    background-color: var(--e-global-color-accent);
}

.elementor-508 .elementor-element.elementor-element-94ea022 .skillbar-group .skill-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-0838ba4-font-family), Sans-serif;
    font-size: var(--e-global-typography-0838ba4-font-size);
    font-weight: var(--e-global-typography-0838ba4-font-weight);
    line-height: var(--e-global-typography-0838ba4-line-height);
    letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
    word-spacing: var(--e-global-typography-0838ba4-word-spacing);
}

.elementor-508 .elementor-element.elementor-element-94ea022>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-508 .elementor-element.elementor-element-b17512a .skillbar-group .number-percentage-wraper {
    display: no;
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-0838ba4-font-family), Sans-serif;
    font-size: var(--e-global-typography-0838ba4-font-size);
    font-weight: var(--e-global-typography-0838ba4-font-weight);
    line-height: var(--e-global-typography-0838ba4-line-height);
    letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
    word-spacing: var(--e-global-typography-0838ba4-word-spacing);
}

.elementor-508 .elementor-element.elementor-element-b17512a .skillbar-group .skill-track {
    background-color: var(--e-global-color-accent);
}

.elementor-508 .elementor-element.elementor-element-b17512a .skillbar-group .skill-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-0838ba4-font-family), Sans-serif;
    font-size: var(--e-global-typography-0838ba4-font-size);
    font-weight: var(--e-global-typography-0838ba4-font-weight);
    line-height: var(--e-global-typography-0838ba4-line-height);
    letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
    word-spacing: var(--e-global-typography-0838ba4-word-spacing);
}

.elementor-508 .elementor-element.elementor-element-b17512a>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-508 .elementor-element.elementor-element-b01e6d2 .skillbar-group .number-percentage-wraper {
    display: no;
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-0838ba4-font-family), Sans-serif;
    font-size: var(--e-global-typography-0838ba4-font-size);
    font-weight: var(--e-global-typography-0838ba4-font-weight);
    line-height: var(--e-global-typography-0838ba4-line-height);
    letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
    word-spacing: var(--e-global-typography-0838ba4-word-spacing);
}

.elementor-508 .elementor-element.elementor-element-b01e6d2 .skillbar-group .skill-track {
    background-color: var(--e-global-color-accent);
}

.elementor-508 .elementor-element.elementor-element-b01e6d2 .skillbar-group .skill-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-0838ba4-font-family), Sans-serif;
    font-size: var(--e-global-typography-0838ba4-font-size);
    font-weight: var(--e-global-typography-0838ba4-font-weight);
    line-height: var(--e-global-typography-0838ba4-line-height);
    letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
    word-spacing: var(--e-global-typography-0838ba4-word-spacing);
}

.elementor-508 .elementor-element.elementor-element-c55ee37 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 0px 10px 0px;
}

.elementor-508 .elementor-element.elementor-element-993c3ce>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-f3ba8db>.elementor-widget-container {
    width: 60%;
}

.elementor-508 .elementor-element.elementor-element-3274695>.elementor-element-populated {
    margin: 0px 40px 0px 0px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
    font-family: var(--e-global-typography-0838ba4-font-family), Sans-serif;
    font-size: var(--e-global-typography-0838ba4-font-size);
    font-weight: var(--e-global-typography-0838ba4-font-weight);
    line-height: var(--e-global-typography-0838ba4-line-height);
    letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
    word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    color: #000;
    background-color: #ffffff;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #7a869e;
    border-radius: 10px 10px 10px 10px;
    padding: 20px 30px 20px 30px;
}

.elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion .elementskit-card .elementskit-card-header>.elementskit-btn-link[aria-expanded="true"] {
    color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #a58d23;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
}

.elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion.curve-shape .elementskit-card-header>.elementskit-btn-link[aria-expanded=true] {
    color: var(--e-global-color-primary);
}

.elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion.accoedion-primary .elementskit-card .elementskit-card-header>.elementskit-btn-link[aria-expanded="true"],
.elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion .elementskit-card-header>.elementskit-btn-link[aria-expanded=true],
.elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion.floating-style .elementskit-card .elementskit-btn-link[aria-expanded="true"] {
    background-color: #fed73e;
}

.elementor-508 .elementor-element.elementor-element-3fec662>.elementor-element-populated {
    margin: 0px 0px 0px 40px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 40px;
    padding: 0px 0px 0px 0px;
}

.elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
    font-family: var(--e-global-typography-0838ba4-font-family), Sans-serif;
    font-size: var(--e-global-typography-0838ba4-font-size);
    font-weight: var(--e-global-typography-0838ba4-font-weight);
    line-height: var(--e-global-typography-0838ba4-line-height);
    letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
    word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    color: #000;
    background-color: #ffffff;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #7a869e;
    border-radius: 10px 10px 10px 10px;
    padding: 20px 30px 20px 30px;
}

.elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion .elementskit-card .elementskit-card-header>.elementskit-btn-link[aria-expanded="true"] {
    color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #a58d23;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
}

.elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion.curve-shape .elementskit-card-header>.elementskit-btn-link[aria-expanded=true] {
    color: var(--e-global-color-primary);
}

.elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion.accoedion-primary .elementskit-card .elementskit-card-header>.elementskit-btn-link[aria-expanded="true"],
.elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion .elementskit-card-header>.elementskit-btn-link[aria-expanded=true],
.elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion.floating-style .elementskit-card .elementskit-btn-link[aria-expanded="true"] {
    background-color: #fed73e;
}

@media(max-width:1024px) {
    .elementor-508 .elementor-element.elementor-element-be8e924 {
        padding: 170px 30px 100px 30px;
    }
    .elementor-508 .elementor-element.elementor-element-18c536f>.elementor-widget-container {
        padding: 0px 100px 0px 100px;
    }
    .elementor-508 .elementor-element.elementor-element-342b6ee {
        padding: 100px 30px 50px 30px;
    }
    .elementor-508 .elementor-element.elementor-element-7aead01>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-508 .elementor-element.elementor-element-9f9819b>.elementor-element-populated {
        margin: 0px 20px 30px 0px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-5e26b30 {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-5e26b30 .elementor-heading-title {
        font-size: var(--e-global-typography-2413f4d-font-size);
        line-height: var(--e-global-typography-2413f4d-line-height);
        letter-spacing: var(--e-global-typography-2413f4d-letter-spacing);
        word-spacing: var(--e-global-typography-2413f4d-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-f0e9fcc {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-64ccc05>.elementor-element-populated {
        margin: 0px 0px 30px 20px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 20px;
    }
    .elementor-508 .elementor-element.elementor-element-0effa62 {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-0effa62 .elementor-heading-title {
        font-size: var(--e-global-typography-2413f4d-font-size);
        line-height: var(--e-global-typography-2413f4d-line-height);
        letter-spacing: var(--e-global-typography-2413f4d-letter-spacing);
        word-spacing: var(--e-global-typography-2413f4d-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-30158c8 {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-df80522>.elementor-element-populated {
        margin: 0px 20px 0px 0px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-4e59ad5 {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-4e59ad5 .elementor-heading-title {
        font-size: var(--e-global-typography-2413f4d-font-size);
        line-height: var(--e-global-typography-2413f4d-line-height);
        letter-spacing: var(--e-global-typography-2413f4d-letter-spacing);
        word-spacing: var(--e-global-typography-2413f4d-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-d378c74 {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-5cf9fc0>.elementor-element-populated {
        margin: 0px 0px 0px 20px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 20px;
    }
    .elementor-508 .elementor-element.elementor-element-bb4f0ba {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-bb4f0ba .elementor-heading-title {
        font-size: var(--e-global-typography-2413f4d-font-size);
        line-height: var(--e-global-typography-2413f4d-line-height);
        letter-spacing: var(--e-global-typography-2413f4d-letter-spacing);
        word-spacing: var(--e-global-typography-2413f4d-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-4578c79 {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-6f0c858 {
        padding: 50px 30px 100px 30px;
    }
    .elementor-bc-flex-widget .elementor-508 .elementor-element.elementor-element-2d62645.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-508 .elementor-element.elementor-element-2d62645.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-508 .elementor-element.elementor-element-2d62645>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-508 .elementor-element.elementor-element-86fb188>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-f29eb21>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 10px 10px 10px 10px;
    }
    .elementor-508 .elementor-element.elementor-element-392d656 .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-508 .elementor-element.elementor-element-45b6fde>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-710db96>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-508 .elementor-element.elementor-element-45f7ef1>.elementor-element-populated {
        margin: 0px 10px 0px 0px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0px;
        padding: 5px 5px 5px 5px;
    }
    .elementor-508 .elementor-element.elementor-element-2181a89>.elementor-element-populated {
        margin: 0px 0px 0px 10px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 10px;
        padding: 5px 5px 5px 5px;
    }
    .elementor-508 .elementor-element.elementor-element-599e820 {
        padding: 100px 30px 100px 30px;
    }
    .elementor-508 .elementor-element.elementor-element-f4262d1>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-508 .elementor-element.elementor-element-b1ba72c>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-508 .elementor-element.elementor-element-94ea022 .skillbar-group .skill-title {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-94ea022 .skillbar-group .number-percentage-wraper {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-b17512a .skillbar-group .skill-title {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-b17512a .skillbar-group .number-percentage-wraper {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-b01e6d2 .skillbar-group .skill-title {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-b01e6d2 .skillbar-group .number-percentage-wraper {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-c55ee37 {
        padding: 50px 30px 25px 30px;
    }
    .elementor-508 .elementor-element.elementor-element-f3ba8db>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-508 .elementor-element.elementor-element-3274695>.elementor-element-populated {
        margin: 0px 20px 0px 0px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
        padding: 12px 10px 12px 10px;
    }
    .elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion .elementskit-card-body {
        padding: 30px 10px 30px 10px;
    }
    .elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion .elementskit-card-header .elementskit-btn-link .icon-open {
        font-size: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion .elementskit-card-header .elementskit-btn-link svg {
        max-width: 0px;
        height: auto;
    }
    .elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion .elementskit-card .elementskit-card-header .elementskit-btn-link .icon-closed {
        font-size: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion .elementskit-card .elementskit-card-header .elementskit-btn-link svg {
        max-width: 0px;
        height: auto;
    }
    .elementor-508 .elementor-element.elementor-element-3fec662>.elementor-element-populated {
        margin: 0px 0px 0px 20px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 20px;
    }
    .elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
        padding: 12px 10px 12px 10px;
    }
    .elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion .elementskit-card-body {
        padding: 30px 10px 30px 10px;
    }
    .elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion .elementskit-card-header .elementskit-btn-link .icon-open {
        font-size: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion .elementskit-card-header .elementskit-btn-link svg {
        max-width: 0px;
        height: auto;
    }
    .elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion .elementskit-card .elementskit-card-header .elementskit-btn-link .icon-closed {
        font-size: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion .elementskit-card .elementskit-card-header .elementskit-btn-link svg {
        max-width: 0px;
        height: auto;
    }
}

@media(max-width:767px) {
    .elementor-508 .elementor-element.elementor-element-be8e924 {
        padding: 170px 20px 100px 20px;
    }
    .elementor-508 .elementor-element.elementor-element-18c536f>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-508 .elementor-element.elementor-element-342b6ee {
        padding: 100px 20px 50px 20px;
    }
    .elementor-508 .elementor-element.elementor-element-ca59996>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-508 .elementor-element.elementor-element-7aead01 {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-ec570d6 {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-9f9819b>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-5e26b30 .elementor-heading-title {
        font-size: var(--e-global-typography-2413f4d-font-size);
        line-height: var(--e-global-typography-2413f4d-line-height);
        letter-spacing: var(--e-global-typography-2413f4d-letter-spacing);
        word-spacing: var(--e-global-typography-2413f4d-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-64ccc05>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-0effa62 .elementor-heading-title {
        font-size: var(--e-global-typography-2413f4d-font-size);
        line-height: var(--e-global-typography-2413f4d-line-height);
        letter-spacing: var(--e-global-typography-2413f4d-letter-spacing);
        word-spacing: var(--e-global-typography-2413f4d-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-df80522>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-4e59ad5 .elementor-heading-title {
        font-size: var(--e-global-typography-2413f4d-font-size);
        line-height: var(--e-global-typography-2413f4d-line-height);
        letter-spacing: var(--e-global-typography-2413f4d-letter-spacing);
        word-spacing: var(--e-global-typography-2413f4d-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-5cf9fc0>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-bb4f0ba .elementor-heading-title {
        font-size: var(--e-global-typography-2413f4d-font-size);
        line-height: var(--e-global-typography-2413f4d-line-height);
        letter-spacing: var(--e-global-typography-2413f4d-letter-spacing);
        word-spacing: var(--e-global-typography-2413f4d-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-6f0c858 {
        padding: 50px 20px 100px 20px;
    }
    .elementor-508 .elementor-element.elementor-element-2d62645>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-740acd8 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-508 .elementor-element.elementor-element-cb2a943 {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-86fb188 {
        width: 50%;
    }
    .elementor-508 .elementor-element.elementor-element-86fb188>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-f29eb21 {
        width: 50%;
    }
    .elementor-508 .elementor-element.elementor-element-f29eb21>.elementor-element-populated {
        margin: 0px 0px 0px 6px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 6px;
        padding: 5px 5px 5px 5px;
    }
    .elementor-508 .elementor-element.elementor-element-392d656 .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-508 .elementor-element.elementor-element-710db96 {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-7301d11 {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-7301d11>.elementor-widget-container {
        padding: 0px 10px 0px 10px;
    }
    .elementor-508 .elementor-element.elementor-element-45f7ef1>.elementor-element-populated {
        margin: 0px 20px 30px 20px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 20px;
    }
    .elementor-508 .elementor-element.elementor-element-2181a89>.elementor-element-populated {
        margin: 0px 20px 0px 20px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 20px;
    }
    .elementor-508 .elementor-element.elementor-element-599e820 {
        padding: 100px 20px 100px 20px;
    }
    .elementor-508 .elementor-element.elementor-element-235a96b.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-508 .elementor-element.elementor-element-235a96b>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
    .elementor-508 .elementor-element.elementor-element-f4262d1 {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-f4262d1>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-508 .elementor-element.elementor-element-b1ba72c {
        text-align: center;
    }
    .elementor-508 .elementor-element.elementor-element-a40199c {
        width: auto;
        max-width: auto;
    }
    .elementor-508 .elementor-element.elementor-element-94ea022 .skillbar-group .skill-title {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-94ea022 .skillbar-group .number-percentage-wraper {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-b17512a .skillbar-group .skill-title {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-b17512a .skillbar-group .number-percentage-wraper {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-b01e6d2 .skillbar-group .skill-title {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-b01e6d2 .skillbar-group .number-percentage-wraper {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-c55ee37 {
        padding: 50px 20px 20px 20px;
    }
    .elementor-508 .elementor-element.elementor-element-f3ba8db>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
        width: 100%;
    }
    .elementor-508 .elementor-element.elementor-element-3274695>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-0e549e7 .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
    .elementor-508 .elementor-element.elementor-element-3fec662>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-508 .elementor-element.elementor-element-54a908c .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
        font-size: var(--e-global-typography-0838ba4-font-size);
        line-height: var(--e-global-typography-0838ba4-line-height);
        letter-spacing: var(--e-global-typography-0838ba4-letter-spacing);
        word-spacing: var(--e-global-typography-0838ba4-word-spacing);
    }
}

@media(min-width:768px) {
    .elementor-508 .elementor-element.elementor-element-ca59996 {
        width: 50%;
    }
    .elementor-508 .elementor-element.elementor-element-aa9ec41 {
        width: 49.732%;
    }
    .elementor-508 .elementor-element.elementor-element-2d62645 {
        width: 50%;
    }
    .elementor-508 .elementor-element.elementor-element-45b6fde {
        width: 50%;
    }
    .elementor-508 .elementor-element.elementor-element-235a96b {
        width: 45.512%;
    }
    .elementor-508 .elementor-element.elementor-element-74c9ef1 {
        width: 54.488%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-508 .elementor-element.elementor-element-ca59996 {
        width: 35%;
    }
    .elementor-508 .elementor-element.elementor-element-aa9ec41 {
        width: 65%;
    }
    .elementor-508 .elementor-element.elementor-element-9f9819b {
        width: 50%;
    }
    .elementor-508 .elementor-element.elementor-element-64ccc05 {
        width: 50%;
    }
    .elementor-508 .elementor-element.elementor-element-df80522 {
        width: 50%;
    }
    .elementor-508 .elementor-element.elementor-element-5cf9fc0 {
        width: 50%;
    }
    .elementor-508 .elementor-element.elementor-element-86fb188 {
        width: 100%;
    }
    .elementor-508 .elementor-element.elementor-element-f29eb21 {
        width: 100%;
    }
    .elementor-508 .elementor-element.elementor-element-235a96b {
        width: 50%;
    }
    .elementor-508 .elementor-element.elementor-element-74c9ef1 {
        width: 50%;
    }
    .elementor-508 .elementor-element.elementor-element-f3ba8db>.elementor-widget-container {
        width: 79%;
    }
    /* My CSS  */
}

@media(min-width:1025px) {
    .elementor-508 .elementor-element.elementor-element-be8e924:not(.elementor-motion-effects-element-type-background),
    .elementor-508 .elementor-element.elementor-element-be8e924>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
    .elementor-508 .elementor-element.elementor-element-599e820:not(.elementor-motion-effects-element-type-background),
    .elementor-508 .elementor-element.elementor-element-599e820>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}